@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@font-face {
    font-family: BebasNeueRegular;
    src: url('../html/BebasNeueRegular.ttf');
}

body {
	margin: 0 !important;
	padding: 0 !important;
	box-sizing: border-box;
	overflow: hidden !important;
    background: transparent !important;
}

::selection {
	background: transparent;
}

.table-container {
	max-height: 725px;
	overflow-y: auto;
	}

.adminpanel {
	background:linear-gradient(0deg, rgba(255,255,255,0.9051995798319328) 50%, rgba(107,212,214,0.969625350140056) 100%);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}



#gvip{
	margin-top:10px;
	background-color: #277f93 ;
	color:white;
	height:350px;
	padding:15px;
	border-radius: 5px;
	box-shadow: 0 0 15px #000000;
}

#givip{
	margin-top:15px;
	background-color: #277f93;
	color:white;
	height:350px;
	padding:15px;
	border-radius: 5px;
	box-shadow: 0 0 15px #000000;
}

#table{
	background: #277f93;
	box-shadow: 0 0 15px #000000;
	color: white;
	text-shadow: 0 0 20px #000000;
}

#vippanelbtn{
	background-color: white;
	color: black;
}

#vippanelbtn:hover{
	/* transition: 0.2s; */
	box-shadow: 0 0 15px #000000;
}

#closebtn{
	margin-left: 4px;
	border: 1px solid red;
	color: red;
}

#closebtn:hover{
	transition: 1s;
	background-color: red;
	color: white;
}

::-webkit-scrollbar {
  width: 10px; 
}

#btncopy{
	background: transparent;
	border: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #277f93; 
  border-radius: 5px; 
}


::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}

#nav{
    /* background-color: gold; */
    color: black;
}
.adminpanel {
	position: absolute;
	/* background-color: #110024a6; */
	box-shadow: 0 0 15px #000000;
	text-shadow: 0 0 20px #000000;
	width: 1350px;
	height: 850px;
	border-radius: 5px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation-name: menucfg;
	animation-duration: 0.7s;
	animation-fill-mode: forwards;
}

#cen{
	color: rgba(255, 255, 255, 0);
}
#cen:hover{
	color: white;
}
#refresh:hover{
	cursor: pointer;
}

#info{
	display: none;
	background-color: aqua;
	color: white;
}

@media only screen and (max-width: 1921px) {
	li{
		height: 56px;
		width: 56px;
	}
	li svg{
		height: 20.8px;
		width: 20.8px;
	}
}
@media only screen and (max-width: 1281px) {
	li{
		height: 64px;
		width: 64px;
	}
	li svg{
		height: 24px;
		width: 24px;
	}
    .settings{
		transform: scale(0.7) translate(-70%, -70%);
	}
	.hud{
		transform: scale(0.7) translateX(70%) translateY(17px);
	}
	.hud-collapse{
		transform: scale(0.7) translateX(70%) translateY(5px);
	}
}

@keyframes menucfg {
    from {top: 65em;}
    to {top: 47%;}
}